#GIT
.gitignore
.git
#PROYECT
LICENSE
README.md

#DOCKER
docker-compose.yml

#HOST_AGENT
host_agent/

#DOCUMENTATION
docs/

#Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

#RUNTIME
logs/
data/

